*{
    margin : 0;
    padding: 0;
        box-sizing: border-box;

}

:root {
    --color-background : #f5f4f0;
    --color-border : #d9d9d9;
    --color-textPrimary : #1b1b1b;
    --color-textSecondary : #333333; 
    --color-textTertiary : #696969;
    --color-textHeadLine : #e1624f;
    --color-accentBlue : #0c51a7;
    --color-accentOrange : #e95e10;
    --color-accentPink : #e5245e;
    --color-accentPurple : #591b98;

    background-color: var(--color-background);

    font-family: "open sans", serif;
}

.HeadLine{
    color: var(--color-textHeadLine);
    size: 16px;
    font-weight: bold;
    margin-top: 40px;
}

article{
    border-top-style : solid;
    border-bottom-style : solid;
    border-color: var(--color-border);
    margin-bottom: 40px;
}

#About{
    margin-bottom: 80px;
}

body {
    padding: 141px 0 0 0;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

p, .subtitle, .HeadLine {
    font-size: 16px;
}

#historia{
    color: var(--color-accentBlue) !important;
}

#casais{
    color: var(--color-accentPurple);
}
#familia{
    color: var(--color-accentPink);
}
#orcamento{
    color: var(--color-accentOrange);
}

section{
    margin-bottom: 40px;
}

.BomPara{
    margin: 20px 0;
}

.BomPara ul{
    margin-left: 20px;
}

footer {
    margin: 60px 60px 0 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 8px;
    
}

.subtitle {
    size: 16px;
    font-weight: italic;
}



img {
    width: 100%;
    height: auto;
    border-radius: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon {
    width: 20px;
    height: auto;
}